.fancyHeading {
  font-weight: normal;
  margin-bottom: 0.8rem;
}

.large {
  font-size: 1.5rem;
}

.small {
  font-size: 1.2rem;
}

.headingBottom {
  background-color: #fd79a8;
  height: 0.2rem;
  width: 3rem;
}
