.container {
  background-color: #eee;
  padding: 2rem 5rem;
  color: #333;
}

.heading {
  font-size: 2rem;
  font-weight: normal;
  color: #fd79a8;
  text-align: center;
  margin-bottom: 3rem;
}

.newsLetter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headingContainer {
  width: 50%;
}

.inputContainer {
  position: relative;
  width: 50%;
}

.formInput {
  font-size: 1rem;
  width: 100%;
  padding: 0.8rem;
  padding-left: 2rem;
  border: 1px solid #aaa;
  border-radius: 2rem;
}

.btnContainer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.formBtn {
  font-size: 1.2rem;
  color: #aaa;
  text-decoration: none;
  transition: all 0.3s;
}

.formBtn:hover {
  color: #fd79a8;
}

.bottom {
  margin: 5rem 0;
}

.navigations {
  display: flex;
  justify-content: space-between;
}
